@media screen and (max-width: 720px) {

    .container
    {
       background-color: #354DAC;
       background-image: linear-gradient(to bottom right, #0AC5E7, #354DAC);
    }

    .name{
        font-size: 40px;
        color: rgb(43, 37, 37);
        font-weight: 400;
        font-family: 'Poppins';
        padding-bottom: 30px;

    }

    .image-pok{
        max-width: 200px;
        min-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: -60px;
        padding-top: 30px;
    }

    .information {
        background-color: white;
        border: 2px solid white;
        border-radius: 50px 50px 0px 0px;
        height: 540px;
    }

    .about, .description, .power {
        font-family: 'Poppins';
        text-transform: capitalize;
    } 

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        font-weight: 700;
        font-size: 18px;
    }

    .description {
        padding-top: 35px;
        font-weight: 600px;
        font-size: 15px;
        padding-bottom: 0px;
        color: gray;
        text-align: center;
        line-height: 20px;
    }

    .power {
        padding-top: 40px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        color: black;

    }

    .type{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        column-gap: 8px;
        width: 120px;
        height: 25px;
        font-weight: lighter;

    }

    .grass:hover{
        color: #354DAC;
        border-color: #354DAC;
        background-color: white;
        transition: 1s;

        }

    .poison:hover{
        color: purple;
        border-color: purple;
        background-color: white;
        transition: 1s;
            }

    .pill {
        font-size: 13px;
        border: 2px solid;
        padding-left: 10px;
        border-radius: 40px;
        transition: 0.5s;
        font-family: 'Poppins';
        height: 20px;
        text-align: center;
    }

    .grass {
        padding-left: 41px;
        border-color: #354DAC;
        color: white;
        background-color: #354DAC;
        padding-top: 5px;
        padding: 10px 47px 1px 45px;

    }

    .poison {
        padding-left: 41px;
        border-color: purple;;
        color: white;
        background-color: purple;
        padding-top: 5px;
        padding: 10px 47px 1px 45px;

    }


    .nav-bar {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
    }

    .stats {
        font-family: 'Poppins';
        font-size: 17px;
        border: 2px solid white;
        border-radius: 20px;
        width: 120px;
        height: 30px;
        color: #354DAC;
    }

    .stats:focus {
        color: white;
        border-color: #354DAC;
        background-color: #354DAC;
        transition: 1s;
    }

    .evolution:focus {
        color: white;
        border-color: #354DAC;
        background-color: #354DAC;
        transition: 1s;
    }

    .moves:focus {
        color: white;
        border-color: #354DAC;
        background-color: #354DAC;
        transition: 1s;
    }

    .evolution {
        font-family: 'Poppins';
        font-size: 17px;
        border: 2px solid white;
        border-radius: 20px;
        width: 120px;
        height: 30px;
        color: #354DAC;
    }

    .moves {
        font-family: 'Poppins';
        font-size: 17px;
        border: 2px solid white;
        border-radius: 20px;
        width: 120px;
        height: 30px;
        color: #354DAC;
    }

    .tabcontent {
        padding-top: 30px;
        display: none;
    }
}